<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<!--<div th:replace="fragments :: navbar(${usuario})"></div>-->
<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por Maicol Nasimba </li>
            <li>Versión 1.0.1</li>
            <li>Fecha de release: 31/05/2025</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>
