<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Descripción de usuario')"></head>
<body>
<div th:replace="fragments :: navbar(${usuario})"></div>
<div class="container mt-4">
    <h2>Descripción de usuario</h2>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <td th:text="${usuario.id}"></td>
        </tr>
        <tr>
            <th>Correo electrónico</th>
            <td th:text="${usuario.email}"></td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td th:text="${usuario.nombre}"></td>
        </tr>
        <tr>
            <th>Fecha de nacimiento</th>
            <td th:text="${#dates.format(usuario.fechaNacimiento, 'dd-MM-yyyy')}" />
        </tr>
    </table>
    <a class="btn btn-primary" href="/registrados">Volver al listado</a>
</div>
<div th:replace="fragments::javascript"/>
</body>
</html>