<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (titulo)">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<div th:fragment="javascript">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</div>

<nav th:fragment="navbar (usuario)">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1857a4;">
        <a class="navbar-brand text-white" href="/about">ToDoList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:if="${usuario != null}">
                    <a class="nav-link text-white" th:href="@{/usuarios/{id}/tareas(id=${usuario.id})}">Tareas</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:if="${usuario != null}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${usuario.nombre}">Usuario</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Cuenta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión <span th:text="'(' + ${usuario.nombre} + ')'"></span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</nav>

</html>