<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Usuarios registrados')"></head>
<body>
<div th:replace="fragments :: navbar(${usuario})"></div>
<div class="container mt-4">
    <h2>Usuarios registrados</h2>
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>ID</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.id}"></td>
                <td>
                    <a th:href="@{/registrados/{id}(id=${u.id})}" th:text="${u.email}"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments::javascript"/>
</body>
</html>